@import url('https://fonts.googleapis.com/css?family=Cabin|Fredoka+One|Fjalla+One|Fredoka+One|Inconsolata|Josefin+Sans|Luckiest+Guy|Manjari|Modak&display=swap|Fruktur&display=swap');
$width-tablet: 1024px;
$width-desktop: 1600px;
$width-phone: 400px;

body {
 background-color: rgb(247, 247, 247, .9);
 color: #292b2c;
 background-image: none;
 transition: background-image .3s;
 font-family: "Josefin Sans", sans-serif;
}

.search-btn {
    height: 25px;
    width: 25px;
}

.btn {
        display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-title-container {
    margin: 1em;
    background-color: #42b983;
    border-radius: 2px;
    .page-title {
        display: inline-block;
        text-align: center;
        margin: 2vh 0 4vh 0;
        font-family: 'Fredoka One', cursive;
        font-weight: bold;
        font-size: 40px;
        text-shadow: 3px 3px #292b2c;
        color: white;
        
    }
}

.purchase-button {
    float: right;
    font-size: x-small;
    padding: 3px 3px 3px 3px;
    max-width: 35px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.small-font {
    font-size: small;
}

.x-small-font {
    font-size: x-small;
}

.explicit {    
    font-size: xx-small;
    color: red;
    border-color: red;
}

.explicit-border {
    /* margin-top: 15px; */
    border: red solid 1px;
    vertical-align: middle;
    text-anchor: middle;
    border-radius: .1rem;
}

.clean {
    color: silver;
    border-color: silver;
}

.explicitness-container {
    vertical-align: bottom;
    letter-spacing: 1px;
    font-size: x-small;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    padding: 1px;
    height: 13px;
    line-height: normal;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.album-art {
    background: no-repeat;
    height: 60;
}

.play:hover {       
    background: url(https://www.wisc-online.com/asset-repository/getfile?id=414&getType=view) center no-repeat;
    background-size: 40px 40px;
}

.stop {
    background: url(https://amnell9891.files.wordpress.com/2013/08/stop-normal-red-icon.png?w=150&h=150) center no-repeat;
    background-size: 35px 35px;
}

.single-track {
    border-top: #292b2c 1px solid; 
    max-width: 220px;
}

.song-name {
    font-size: small;
}

.artist-name {
    font-size: x-small;
}

.name-artist {
    min-width: 122px;
    span {
        cursor: pointer;
    }
}

.price-explicitness {
    margin-left: auto;
}

.my-songs-info {
    margin-left: 3px;
    display: flex;
    flex-direction: row;
}

.song-info {
    display: flex;
    flex-direction: row;
    padding-left: 3px;
    text-align: left;
    justify-content: space-between;
}

.center-text {
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.space-btwn {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}
